<mat-card @fade>
    <a [routerLink]="" (click)="return()">
        <button mat-mini-fab color="accent">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </a>
  <mat-card-header >
    <mat-card-title >
      <h2 style="margin: auto">Atualizar Cliente</h2>
    </mat-card-title>


  <button
  class="findData"
  color="accent"
  mat-icon-button
  type="button"
  (click)="previousData(Buscar.value)"
  id="searchIcon"
  >
    <mat-icon>arrow_left</mat-icon>
  </button>

  <mat-form-field
  appearance="fill"
  id="findInput">
      <mat-label>Buscar</mat-label>
      <input
      matInput
       placeholder="Buscar"
       type="text"
       #Buscar
       [formControl]="myControl" [matAutocomplete]="autoo"

       >
       <mat-autocomplete autoActiveFirstOption #autoo="matAutocomplete">
          <mat-option *ngFor="let optionn of filteredOptionsFind | async"
          [value]="optionn"
          >
            {{optionn}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button
    class="findData"
    color="accent"
    mat-icon-button
    type="button"
    (click)="nextData(Buscar.value)"
    id="searchIcon"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>


    <button
    class="findData"
    color="primary"
    mat-mini-fab
    (keydown.enter)="findData(Buscar.value)"
    type="button"
    (click)="findData(Buscar.value)"
    id="searchIcon"
    >
      <mat-icon>search</mat-icon>
    </button>


</mat-card-header>

  <mat-card-subtitle>
    <p>Os campos com * são obrigatórios</p>
  </mat-card-subtitle>

  <div class="form-container" [formGroup]="parent">
    <div formGroupName="fornec">

      <div class="mat-form-field--inline">
        <mat-form-field appearance="outline" id="field-nome">
          <mat-label>Nome</mat-label>
          <input matInput
           placeholder="Nome"
           type="text"
           formControlName="nome"
           minlength="2"
           required>
        </mat-form-field>

        
            <mat-form-field appearance="outline" id="field-nome">
              <mat-label>Observação</mat-label>
              <input matInput
               placeholder="Observação"
               type="text"
               formControlName="obs"
               >
            </mat-form-field>


        <mat-form-field appearance="outline" id="field-cep">
          <mat-label>Cep</mat-label>
          <input matInput placeholder="Cep" type="text" #mycep formControlName="cep"
          minlength="7"
          mask="00000-000"
          >
        </mat-form-field>
        <button
        mat-stroked-button
        type="button"
        (click)="findAdress(mycep.value)"
        id="searchIcon"
        [disabled]="this.editButton"
        >
          <mat-icon>search</mat-icon>
        </button>

        <mat-form-field appearance="outline" id="field-endereco">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Endereço" type="text" formControlName="endereco" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-bairro">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Bairro" type="text" formControlName="bairro" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-cidade">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" type="text" formControlName="cidade" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-estado">
          <mat-label>UF</mat-label>
          <input matInput
          placeholder="UF"
          type="text"
          formControlName="estado"
          minlength="2"
          maxlength="2"
          name="estado"
          #estado (input)="estado.value=$event.target.value.toUpperCase()"
          [matAutocomplete]="auto"
          required
          >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-telefone">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone" type="text" formControlName="telefone"
          minlength="10"
          mask="(00) 0000-0000"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-celular">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" type="text" formControlName="celular"
          minlength="11"
          mask="(00) 00000-0000"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" formControlName="email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          name="email"
          #email (input)="email.value=$event.target?.value?.toLowerCase()"
          >
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" id="field-cnpj">
          <mat-label>Cpf</mat-label>
          <input matInput placeholder="Cpf" type="text" formControlName="cpf"
          minlength="11"
          mask="000.000.000-00"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-cnpj">
          <mat-label>Rg</mat-label>
          <input matInput placeholder="Rg" type="text" formControlName="rg"
          minlength="9"
          mask="00.000.000-0"
          >
        </mat-form-field> -->

      </div>

    </div>
    <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!parent.valid"
    id="saveButton"
    (click)="this.editButton = !this.editButton"
    >Salvar</button>
    <button
    mat-raised-button color="accent"
    type="button"
    (click)="changeEditButton()"
    id="editButton"
    >{{ this.editButton ? 'Editar' : 'Cancelar' }}
  </button>
  <button
  mat-raised-button color="warn"
  type="button"
  (click)="deleteItem()"
  [disabled]="this.editButton"
  id="deleteButton"
  >Deletar
</button>


  </div>

</mat-card>
<br>
<mat-card *ngIf="compras.length > 0">
  <mat-card-title>
    Histórico de compras
  </mat-card-title>
  <br>
<div *ngFor="let item of compras">
    <a style="color:rgb(55, 190, 214)" routerLink="/vendas/edit/{{item?.id}}">{{ item?.recibo }}</a> <span> - Data: {{ backTimeStamp(item?.data) | date:'dd-MM-yyyy' }}</span>
    <table border="4">
        <thead>
            <tr style="background-color: rgb(30, 210, 84)">
            <th>Cód.</th>
            <th >Tipo</th>
            <th >Descrição</th>
            <th >Cor</th>
            <th >Tam.</th>
            <td >Quant.</td>
            <th >Preço</th>
          </tr>
        </thead>
  <tbody>
      <tr *ngFor="let compra of item.listaProduto; let i = index" >
      <td ><a style="color: orange;margin-left: 15px" routerLink="/produtos/edit/{{compra?.id}}">{{ compra.codigo }}</a></td>
      <td align="center">{{ compra.tipo }} </td>
      <td >{{ compra.descricao }} </td>
      <td align="center">{{ compra.cor }} </td>
      <td align="center">{{ compra.tamanho }} </td>
      <td align="center">{{ compra.quantidade }} </td>
      <td align="center">R$ {{ compra.preco | number: '.2':'pt' }} </td>
    </tr>
  </tbody>
    </table>
    <br>
</div>
<!-- <mat-list>
    <mat-list-item *ngFor="let compra of item.listaProduto">
      <a style="color: rgb(55, 190, 214);margin-left: 15px;margin-right: 15px" routerLink="/vendas/edit/{{item?.id}}">{{ item?.recibo }}</a> <a style="color: yellow;margin-left: 15px;margin-right: 15px" routerLink="/produtos/edit/{{compra?.id}}" >{{ compra?.codigo }}</a> {{ compra?.tipo }} {{ compra?.descricao }} {{ compra?.cor }} {{ compra?.quantidade }} {{ backTimeStamp(item?.data) | date:'dd-MM-yyyy' }}</mat-list-item>
   </mat-list>

  </div> -->
</mat-card>
