
.center{
text-align: center;

}

#buttonSave{
 width: 440px;
 align-content: center;
}

mat-select{
    width: 100px;
}

#actions{
    align-content: center;
    align-items: center;
}


mat-form-field{
    text-align: center
}


ngb-datepicker{
    background: whitesmoke;
}

.ngb-tp{
    justify-content: center;
}