<mat-card @fade>
    <a [routerLink]="" (click)="return()">
        <button mat-mini-fab color="accent">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </a>
  <mat-card-header >
    <mat-card-title >
      <h2 style="margin: auto">Adicionar Fornecedor</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-subtitle>
    <p>Os campos com * são obrigatórios</p>
  </mat-card-subtitle>

  <div class="form-container" [formGroup]="parent">
    <div formGroupName="fornec">

      <div class="mat-form-field--inline">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput
           placeholder="Nome"
           type="text"
           formControlName="nome"
           minlength="2"
           required
           #nameInput>
        </mat-form-field>


        <mat-form-field appearance="outline" id="field-cep">
          <mat-label>Cep</mat-label>
          <input matInput placeholder="Cep" type="text" #mycep formControlName="cep"
          minlength="7"
          mask="00000-000"
          >
        </mat-form-field>
        <button mat-stroked-button type="button" (click)="findAdress(mycep.value)" id="searchIcon">
          <mat-icon>search</mat-icon>
        </button>

        <mat-form-field appearance="outline" id="field-endereco">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Endereço" type="text" formControlName="endereco" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-bairro">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Bairro" type="text" formControlName="bairro" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-cidade">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" type="text" formControlName="cidade" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-estado">
          <mat-label>UF</mat-label>
          <input matInput
          placeholder="UF"
          type="text"
          formControlName="estado"
          required
          minlength="2"
          maxlength="2"
          name="estado"
          #estado (input)="estado.value=$event.target.value.toUpperCase()"
          [matAutocomplete]="auto"
          required
          >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-contato">
          <mat-label>Contato</mat-label>
          <input matInput placeholder="Contato" type="text" formControlName="contato" required>
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-telefone">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="Telefone" type="text" formControlName="telefone"
          minlength="10"
          mask="(00) 0000-0000"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-celular">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" type="text" formControlName="celular"
          minlength="11"
          mask="(00) 00000-0000"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" formControlName="email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          name="email"
          #email (input)="email.value=$event.target?.value?.toLowerCase()"
          >
        </mat-form-field>

        <mat-form-field appearance="outline" id="field-cnpj">
          <mat-label>Cnpj</mat-label>
          <input matInput placeholder="Cnpj" type="text" #jh formControlName="cnpj"
          minlength="14"
          mask="00.000.000/0000-00"
          >
          {{ jh.value?.lenght}}
        </mat-form-field>

      </div>

    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!parent.valid">Criar</button>


  </div>

</mat-card>
