

.mat-form-field--inline {
  display: flex;
  flex-wrap: wrap;


}

.mat-form-field--inline .mat-form-field:not(#field-cep){
  margin-bottom: -15px;
  margin-right:20px
}

#codigo{
  width: 150px;
  }

  #descricao{
    width: 350px;
   }
  // #fornecedor{

  // }
   #codigofornecedor{
    width: 170px;
   }
   #data{
    width: 160px;
  }
  // #cor{

  // }
  // #tipo{

  // }
   #tamanho{
    width: 110px;
   }
  #quantidade{
    width: 130px;

   }
  #valor{
    width: 140px;
  }
  #custo{
    width: 140px;
  }
  #preco{
    width: 140px;
  }
   #lucrobruto{
    width: 140px;
   }

   #textCusto{
     margin-right: 5%
   }

   #textLucro{
    margin-right: 5%
  }

::placeholder{
  opacity: 0.2;
}



mat-label{
  font-size: 18px;
  opacity: 0.5;
}



p{
  font-size: 12px;

}

h2{
float: center;
}

.mat-stroked-button{
margin-top: 2.5px;
height: 60px;
width: 20px;
margin-right: 20px;
margin-bottom: -20px;
}

.findData{
  float: right;
}

#backIcon{
  width: 100px;
}

.inline{
  display: inline-block;
}

a{
  float:left;

}

#saveButton{
margin-right: 2px;
}

#editButton{
  margin-right: 40px;
  }

  #findInput{
float: right;
  }



// mat-expansion-panel{
//   width: 89%;

// }



// mat-panel-description {
//   flex: 0 0 auto;
// }


