#body{
  height: 4550px;
}

#ano{
  width: 70px;
  margin-left: 200px;
}

.border{
  border-style: solid;
  border-color: whitesmoke;
  height: 80px;
  width: 800px;
}

mat-card{
background-color: black
}


.dotred {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.dotyellow {
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.dotgreen {
  height: 20px;
  width: 20px;
  background-color: rgb(92, 201, 92);
  border-radius: 50%;
  display: inline-block;
}
