<div id="body" @fade>

    <mat-form-field id='ano'>
        <mat-select  [(ngModel)]="ano" (selectionChange)="getPeriodoAno()">
          <mat-option *ngFor="let c of anos" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-button-toggle-group class="toggleDay" name="fontStyle" aria-label="Font Style" [(ngModel)]="mes_atual">
          <mat-button-toggle  (click)="getPeriodo()" class="numberDay"  *ngFor="let month of months"  [value]="month">{{ month }}</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <br>
        <br>

        <section style="margin-left: 300px;font-size: 1.4em;width: 400px">
        <span >Total à vista:<span style="color:chartreuse;float: right">R$ {{ avista | number: '.2-2'}}</span></span>
      </section>
      <section style="margin-left: 300px;font-size: 1.4em;width: 400px">
        <span >Total a prazo:<span style="color:chartreuse;float: right">R$ {{ aprazo | number: '.2-2'}}</span></span>
      </section>
      <section style="margin-left: 300px;font-size: 1.4em;width: 400px">
          <span ><hr></span>
        </section>
        <section style="margin-left: 300px;font-size: 1.4em;width: 400px">
            <span >Total Geral:<span style="color:rgb(103, 247, 252);float: right;font-weight: bold">R$ {{ aprazo + avista | number: '.2-2'}}</span></span>
          </section>



          <br>
          <br>
          <br>
          <mat-accordion>
            <div *ngFor="let re of resumo">

                <div *ngIf="re?.name"  [ngStyle]="{ backgroundColor: re.valor == 0 ? 'green' : 'DarkOrange' }">
                    <span style="font-size: 1.4em">{{ re.name }}</span> <span style="position: absolute;right: 700px;font-size: 1.4em" >DIVIDA TOTAL: {{ re.valor | number:'.2-2'}}</span>
                    <span *ngIf="re.valorpag > 0" style="position: absolute;right: 400px;font-size: 1.4em" >VALOR PAGO: {{ re.valorpag | number:'.2-2'}}</span>
                  </div>
              <mat-expansion-panel *ngFor="let fat of re.grupo">

                <mat-expansion-panel-header>

                  <mat-panel-title >
                    <span style="margin-right: 10px" [ngClass]="{
                    'dotgreen': ledControl(fat) == 'green',
                    'dotyellow': ledControl(fat) == 'yellow',
                    'dotred': ledControl(fat) == 'red'
                    }">
                </span><a *ngIf="fat.id" routerLink="/vendas/edit/{{fat.id}}" style="color:whitesmoke">{{ fat.recibo }}</a>
             <!--    <a *ngIf="fat.clienteId" routerLink="/clientes/edit/{{fat.clienteId}}" style="color:whitesmoke;margin-left:10px">{{ fat.clienteNome }}</a> -->
                <span *ngIf="!fat.clienteId" style="color:whitesmoke;margin-left:10px">{{ fat.clienteNome }}</span>
                  </mat-panel-title>
                  <mat-panel-description>
                      <section *ngIf="fat.tipoPagamento == '1'">
                          <span [ngStyle]="{ color: fat?.status ? 'chartreuse' : 'DarkOrange' }" style="margin-left: 35px;position: absolute;right: 820px">{{ fat.vezes }}</span>
                          <span [ngStyle]="{ color: fat?.status ? 'chartreuse' : 'DarkOrange' }" style="position: absolute;right: 700px">
                              {{ fat.valor | number: '.2-2' }}
                          </span>
                          <span style="position: absolute;right: 400px">
                            {{ diaSemana(fat.dataPrimeiroPag) }}
                          </span>
                          <span style="position: absolute;right: 300px">
                              {{ backTimeStamp(fat.dataPrimeiroPag) | date:'dd-MM-yyyy' }}
                          </span>
                          <span *ngIf="fat.controlada" style="position: absolute;right: 200px">
                              <mat-icon>settings</mat-icon>
                        </span>
                        </section>
                      <section *ngIf="fat.tipoPagamento == '2'">

                    <section *ngFor="let pag of fat.divisaoPagamento; let i = index">

                      <section *ngIf="mescorrente(pag)">
                          <span [ngStyle]="{ color: pag?.status ? 'chartreuse' : 'DarkOrange' }" style="margin-left: 35px;position: absolute;right: 820px">{{ i + 1 }}</span>
                          <span style="position: absolute;right: 800px">/ {{ fat.vezes }}</span>
                        <span [ngStyle]="{ color: pag?.status ? 'chartreuse' : 'DarkOrange' }" style="position: absolute;right: 700px">{{ pag.preco | number: '.2-2'}}</span>
                        <span style="position: absolute;right: 640px">/ {{ fat.valor | number: '.2-2'}}</span>
                        <span style="position: absolute;right: 400px">
                          {{ diaSemana(pag.data) }}
                        </span>
                        <span style="position: absolute;right: 300px">
                            {{ pag.data.toDate() | date:'dd-MM-yyyy' }}
                        </span>
                        <span *ngIf="fat.controlada" style="position: absolute;right: 200px">
                            <mat-icon>settings</mat-icon>
                      </span>

                      </section>
                    </section>
                  </section>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card>

<mat-card-content>
              <section *ngIf="fat?.tipoPagamento == '1'">
                <section >
         <span style="color:coral">Forma de pagameto: </span><span *ngIf="fat.forma == 'debito'" style="margin-right: 62px">🔁 - Débito</span>
         <span *ngIf="fat.forma == 'credito'" style="margin-right: 58px">💳 - Crédito</span>
         <span *ngIf="fat.forma == 'dinheiro'" style="margin-right: 50px">💵 - Dinheiro</span>
         <span style="color:coral">Valor : </span>{{ fat.valor| number: '.2-2'}}
        </section>
         <section  *ngIf="fat?.controlada" style="margin-left:130px">
          <mat-form-field style="width:120px">
            <mat-label>Forma de Pagamento</mat-label>
            <select matNativeControl required [(ngModel)]="fat.forma">
              <option value="debito">🔁 - Débito</option>
              <option value="credito" selected>💳 - Crédito</option>
              <option value="dinheiro">💵 - Dinheiro</option>
            </select>
          </mat-form-field>
          <span style="color:coral;margin-left:20px">Valor : </span>{{ fat.valor| number: '.2-2'}}
          <button mat-raised-button color="primary" style="margin-left:20px" (click)="pagaFatura(fat)">Pago</button>
          <button mat-raised-button style="margin-left:20px" (click)="resetaFatura(fat)">Reset</button>
        </section>

         <!-- <span style="color:coral;margin-left:20px">Data de pagamento: </span>{{ backTimeStamp(fat.dataPrimeiroPag) | date:'dd-MM-yyyy' }} -->

                  </section>
                    <section *ngIf="fat?.tipoPagamento == '2'" >
                <section *ngFor="let pag of fat.divisaoPagamento; let t = index">
                  <div  [ngClass]="{ 'border': mescorrente(pag) && fat.controlada}">
                    <span>{{ t + 1 }}X - </span>
                    <span style="color:coral">Forma de pagameto: </span><span *ngIf="pag.forma == 'debito'" style="margin-right: 62px">🔁 - Débito</span>
                    <span *ngIf="pag.forma == 'credito'" style="margin-right: 58px">💳 - Crédito</span>
                    <span *ngIf="pag.forma == 'dinheiro'" style="margin-right: 50px">💵 - Dinheiro</span>
                    <span style="color:coral">Valor : </span>{{ pag.preco | number: '.2-2'}}
                    <br>
                    <section *ngIf="mescorrente(pag) && fat.controlada" style="margin-left:160px">
                      <mat-form-field style="width:120px">
                        <mat-label>Forma de pagamento</mat-label>
                        <select matNativeControl required [(ngModel)]="pag.forma">
                          <option value="debito">🔁 - Débito</option>
                          <option value="credito" selected>💳 - Crédito</option>
                          <option value="dinheiro">💵 - Dinheiro</option>
                        </select>
                      </mat-form-field>
                      <mat-form-field *ngIf="t < (fat.divisaoPagamento.length - 1)" appearance="outline"  class="precoPag" style="width:100px;margin-left:10px" >
                          <mat-label>Valor pago</mat-label>
                          <input
                          matInput
                           type="text"
                       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                       currencyMask
                       [(ngModel)]="pag.preco"
                       (ngModelChange)="redistribuiValores(fat,t,btpago)"
                        >
                        </mat-form-field>
                        <span *ngIf="t == (fat.divisaoPagamento.length - 1)" style="color:coral;margin-left:20px">Valor : </span><span *ngIf="t == (fat.divisaoPagamento.length - 1)">{{ pag.preco | number: '.2-2'}}</span>
                        <button mat-raised-button color="primary" style="margin-left:20px" (click)="pagaFaturaParcial(fat,pag)" #btpago [disabled]="confereValorPositvo(fat)">Pago</button>
                        <button mat-raised-button style="margin-left:20px" (click)="resetaFaturaParcial(fat,pag)" [disabled]="confereValorPositvo(fat,t)">Reset</button>
                    </section>


<br>

        </div>
                  </section>
                </section>
               </mat-card-content>
              </mat-card>
                <!-- <mat-form-field>
                  <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Age">
                </mat-form-field> -->
              </mat-expansion-panel>
</div>
            </mat-accordion>
      </div>
