.mycontainer{

  margin:6%;

  margin-top: 1%;
  margin-bottom: 3%
}


.mat-tab-link {
  font-size: 12px; min-width: 10px !important;
  background-color: rgb(217, 221, 221)
}

img{
  position: relative;
  margin-right: 10%;
  float: right;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
