<app-login *ngIf="!isLoggedIn && request"></app-login>

<mat-sidenav-container *ngIf="isLoggedIn && request">
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list
      (closeSidenav)="sidenav.close()"
      (logout)="onLogoutClick()"
    ></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      (sidenavToggle)="sidenav.toggle()"
      (logout)="onLogoutClick()"
    ></app-header>
    <main>
      <div class="mycontainer">
        <div style="width: 500px">
          <ng-flash-message></ng-flash-message>
        </div>

        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

