.mycontainer{
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 3%
}


.mat-tab-link {
  font-size: 12px; min-width: 10px !important;
  background-color: rgb(217, 221, 221)
}

img{
  position: relative;
  margin-right: 10%;
  float: right;
}

#menuFloat{
  position: relative;
  margin-right: 3%;
  float: left;

}
