<!-- <app-navbar></app-navbar>
<div class="container">
<flash-messages></flash-messages>
<router-outlet></router-outlet>
</div> -->
<!-- <img src="assets/sodivastoqueicon.jpg" style="align-items: center"><img> -->
<div *ngIf=isLoggedIn>
  <button mat-button [matMenuTriggerFor]="appMenu" id="menuFloat">Menu</button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/']">Fornecedores</button>
    <button mat-menu-item [routerLink]="['/clientes']">Clientes</button>
    <button mat-menu-item [routerLink]="['/produtos']">Produtos</button>
    <button mat-menu-item (click)="onLogoutClick()">Sair</button>
  </mat-menu>
</div>

<div class="mycontainer">
  <div style="width: 500px">
    <ng-flash-message></ng-flash-message>
  </div>

<router-outlet></router-outlet>
</div>
<!-- <div class="mycontainer">
    <nav mat-tab-nav-bar>


      <a mat-tab-link [routerLink]="['/']"  >Fornecedores </a> -->
          <!-- <a mat-tab-link [routerLink]="['/privileges']" ><span matBadge="2" matBadgeOverlap="false">Privilégios</span></a>
            <a mat-tab-link [routerLink]="['/dayprivileges']" ><span matBadge="3" matBadgeOverlap="false"> Dias X Privi</span></a>
            <a mat-tab-link [routerLink]="['/users']" ><span matBadge="4" matBadgeOverlap="false">Varões</span></a>
            <a mat-tab-link [routerLink]="['/userprivileges']" ><span matBadge="5" matBadgeOverlap="false">Varões X Privi</span></a>
            <a mat-tab-link [routerLink]="['/exceptions']" ><span matBadge="6" matBadgeOverlap="false">Exceções</span></a>
            <a mat-tab-link [routerLink]="['/userexceptions']" ><span matBadge="7" matBadgeOverlap="false">Varões X Exce</span></a>
            <a mat-tab-link [routerLink]="['/generations']" ><span matBadge="8" matBadgeOverlap="false">Geração</span></a> -->
    <!-- </nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
