.row-height {
  height: 100%;
  margin-top: 10%;
  display: block;
}

h3{
  color:#c2185b

}
span{
  color:white
}

.inline{
  display: inline;
}

mat-card-title{
  margin-bottom: 40%
}

mat-icon {
  color:#c2185b;
}
